<%= debug @test.inspect %>
<% @collections.each do |collection| %>
  <div id="card-<%= collection.card.multiverse_id %>" class="row card" data-card-id="<%= collection.card_id %>" data-quantity="<%= collection.quantity %>">
    <div class="card-name span2">
      <%= collection.card.name %>
    </div>
    <div class="card-quantity span1">
      <%= collection.quantity %>
    </div>
    <div class="span1">
      <button class="increment btn"><i class="icon-chevron-up"></i></button>
    </div>
    <div class="span1">
      <button class="decrement btn"><i class="icon-chevron-down"></i></button>
    </div>
  </div>
<% end %>
