<% present card do |card_presenter| %>
  <div class="card-tooltip flip">
    <% card.card_parts.each_with_index do |card_part, index| %>
      <% present card_part, CardPresenter do |card_part_presenter| %>
        <div class="card-part">
          <div class="card-name">
            <%= card_part_presenter.name %>
          </div>
          <% if index == 0 %>
            <div class="mana-cost">
              <%= card_part_presenter.mana_cost(:size => 'small') %>
            </div>
          <% end %>
          <div class="card-type">
            <%= card_part_presenter.card_type %>
          </div>
          <div class="card-text">
            <%= card_part_presenter.card_text(:size => 'small') %>
          </div>
          <div class="flavor-text">
            <%= card_part_presenter.flavor_text %>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="artist">
      Artist: <%= card.card_parts.first.artist %>
    </div>
    <% if card.card_set.show_card_numbers %>
      <div class="card-number">
        <%= card_presenter.card_number %>
      </div>
    <% end %>
  </div>
<% end %>
