<% present card do |card_presenter| %>
  <div class="card-tooltip phenomenon">
    <div class="card-name">
      <%= card_presenter.name %>
    </div>
    <div class="mana-cost">
      <%= card_presenter.mana_cost(:size => 'small') %>
    </div>
    <div class="card-type">
      <%= card_presenter.card_type %>
    </div>
    <div class="card-text">
      <%= card_presenter.card_text(:size => 'small') %>
    </div>
    <div class="flavor-text">
      <%= card_presenter.flavor_text %>
    </div>
    <div class="artist">
      Artist: <%= card_presenter.artist %>
    </div>
    <% if card.card_set.show_card_numbers %>
      <div class="card-number">
        <%= card_presenter.card_number %>
      </div>
    <% end %>
  </div>
<% end %>
