- present card do |card_presenter|
  .card-tooltip.split
    .card-name
      = card_presenter.name
    - card.card_parts.each do |card_part|
      - present card_part, CardPresenter do |card_part_presenter|
        .card-part
          .card-name
            = card_part_presenter.name
          .mana-cost
            = card_part_presenter.mana_cost(:size => 'small')
          .card-type
            = card_part.card_type
          .card-text
            = card_part_presenter.card_text(:size => 'small')
          .flavor-text
            = card_part_presenter.flavor_text
          .artist
            Artist: #{card_part_presenter.artist}
    .card-number
      = card_presenter.card_number
