- content_for :page_title, t('.title')
- content_for :body_class, 'register'
.page-register.page
  %header.page-header
    %h1= t('.title')
  .page-body
    = form_for resource, as: resource_name, url: user_registration_path, html: { autocomplete: 'off', honeypot: true } do |f|
      .input-field
        = f.text_field :username, autofocus: true, required: true
        = f.label :username
      .input-field
        = f.email_field :email, required: true
        = f.label :email
      .input-field
        = f.password_field :password, required: true
        = f.label :password
      .input-field
        = f.password_field :password_confirmation, required: true
        = f.label :password_confirmation
      %p
        = label_tag :accept_terms_of_service do
          = check_box_tag :accept_terms_of_service, 'yes', false, class: 'accept-terms-of-service'
          %span= t('.accept_terms_of_service_html')
      .input-field
        = f.submit t('.submit'), class: "#{success_button_class} requires-terms-of-service-acceptance", disabled: true
    = render 'devise/shared/links'
