<h1><%= t("card_blocks.#{@card_block.persisted? ? 'edit' : 'new'}.title") %></h1>
<%= simple_form_for [:admin, @card_block], :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <%= f.input :name %>
    <%= f.association :card_block_type, :include_blank => false %>
  </fieldset>
  <div class="form-actions">
    <%= link_to t('card_blocks.links.back_to_index'), admin_card_blocks_path, :class => 'btn' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
