<div id="card-blocks" class="admin-content">
  <h1><%= t('activerecord.models.card_block').pluralize %></h1>
  <div class="well">
    <%= search_form_for @search, :url => admin_card_blocks_path, :html => { :method => :get, :class => 'form-inline' } do |f| %>
      <div class="form-group">
        <%= f.text_field :name_cont, :class => 'form-control', :placeholder => t('activerecord.attributes.card_block.name') %>
      </div>
      <div class="form-group">
        <%= f.select :card_block_type_id_eq, CardBlockType.all.map{ |card_block_type| [card_block_type.name, card_block_type.id] }, { :include_blank => t('show_only'), :selected => params[:q].present? ? params[:q][:card_block_type_id_eq] : '' }, { :class => 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.button "<span class=\"glyphicon glyphicon-search\"></span> #{t('search')}".html_safe, :type => :submit, :class => 'btn btn-primary' %>
        <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, admin_card_blocks_path, :class => 'btn btn-default', :rel => 'tooltip', :title => t('clear_search') %>
      </div>
    <% end %>
  </div>
  <% if can? :create, CardBlock %>
    <div class="clearfix">
      <%= link_to t('card_blocks.new.title'), new_admin_card_block_path, :class => 'btn btn-primary new-object' %>
    </div>
  <% end %>
  <% if @card_blocks.present? %>
    <div class="table-responsive">
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th><%= sort_link @search, :name %></th>
            <th><%= sort_link @search, :card_block_type_name, t('activerecord.models.card_block_type') %></th>
            <%= edit_and_delete_header_columns(CardBlock) %>
          </tr>
        </thead>
        <tbody>
          <% @card_blocks.each do |card_block| %>
            <% present card_block do |card_block_presenter| %>
              <tr>
                <td><%= link_to card_block_presenter.name, admin_card_block_path(card_block) %></td>
                <td><%= card_block_presenter.card_block_type_name %></td>
                <%= edit_and_delete_columns(card_block) %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @card_blocks %>
  <% else %>
    <p class="lead"><%= t('messages.card_blocks.none') %></p>
  <% end %>
</div>
