<div id="card-block">
  <h1><%= t('card_blocks.show.title') %> <small><%= @card_block.name %></small></h1>
  <table class="table table-condensed table-striped">
    <tbody>
      <tr>
        <th class="span3"><%= t('activerecord.attributes.card_block.name') %></th>
        <td><%= @card_block.name %></td>
      </tr>
      <tr>
        <th class="span3"><%= t('activerecord.models.card_block_type') %></th>
        <td><%= link_to @card_block.card_block_type.name, admin_card_block_type_path(@card_block.card_block_type) %></td>
      </tr>
      <tr>
        <th class="span3"><%= t('activerecord.attributes.card_block.created_at') %></th>
        <td><%= @card_block.created_at %></td>
      </tr>
      <tr>
        <th class="span3"><%= t('activerecord.attributes.card_block.updated_at') %></th>
        <td><%= @card_block.updated_at %></td>
      </tr>
    </tbody>
  </table>
  <% if @card_block.card_sets.any? %>
    <h2><%= t('activerecord.models.card_set').pluralize %></h2>
    <table class="table table-condensed table-striped">
      <tbody>
        <% @card_block.card_sets.each do |card_set| %>
          <tr>
            <th style="text-align: center; width: 71px;"><%= link_to card_set_symbol(card_set).html_safe, admin_card_set_path(card_set) %></th>
            <th><%= link_to card_set.name, admin_card_set_path(card_set) %></th>
            <td><%= card_set.release_date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <!-- TODO: i18nize this. -->
    <p class="lead">No Card Sets.</p>
  <% end %>
  <div class="form-actions">
    <%= link_to t('card_blocks.links.back_to_index'), admin_card_blocks_path, :class => 'btn' %>
    <% if can? :edit, CardBlock, current_user %><%= link_to t('card_blocks.edit.title'), edit_admin_card_block_path(@card_block), :class => 'btn' %><% end %>
    <% if can? :destroy, CardBlock, current_user %><%= link_to t('card_blocks.delete.title'), admin_card_block_path(@card_block), :method => 'delete', :class => 'btn btn-danger', :data => { :confirm => t('confirm_delete') } %><% end %>
  </div>
</div>
