<% present @card_block do |card_block_presenter| %>
  <div id="card-block-<%= @card_block.id %>">
    <h1><%= t('card_blocks.show.title') %> <small><%= @card_block.name %></small></h1>
    <div class="object-actions">
      <%= link_to t('card_blocks.links.back_to_index'), admin_card_blocks_path, :class => 'btn btn-default' %>
      <% if can? :edit, CardBlock %><%= link_to t('card_blocks.edit.title'), edit_admin_card_block_path(@card_block), :class => 'btn btn-primary' %><% end %>
      <% if can? :destroy, CardBlock %><%= link_to t('card_blocks.delete.title'), admin_card_block_path(@card_block), :method => 'delete', :class => 'btn btn-danger', :data => { :confirm => t('confirm_delete') } %><% end %>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-condensed">
        <tbody>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card_block.name') %></th>
            <td class="col-xs-8 col-sm-10"><%= card_block_presenter.name %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.models.card_block_type') %></th>
            <td class="col-xs-8 col-sm-10"><%= link_to card_block_presenter.card_block_type_name, admin_card_block_type_path(@card_block.card_block_type) %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card_block.created_at') %></th>
            <td class="col-xs-8 col-sm-10"><%= card_block_presenter.created_at %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card_block.updated_at') %></th>
            <td class="col-xs-8 col-sm-10"><%= card_block_presenter.updated_at %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <% if @card_block.card_sets.any? %>
      <h2><%= t('activerecord.models.card_set').pluralize %></h2>
      <div class="table-responsive">
        <table class="table table-striped table-condensed">
          <tbody>
            <% @card_block.card_sets.each do |card_set| %>
              <% present card_set do |card_set_presenter| %>
                <tr>
                  <td style="text-align: center; width: 71px;"><%= link_to card_set_presenter.symbol(:size => 'small').html_safe, admin_card_set_path(card_set) %></td>
                  <td><%= link_to card_set_presenter.name, admin_card_set_path(card_set) %></td>
                  <td><%= card_set_presenter.code %></td>
                  <td><%= card_set_presenter.release_date %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p class="lead"><%= t('messages.card_blocks.no_card_sets') %></p>
    <% end %>
    <div class="object-actions">
      <%= link_to t('card_blocks.links.back_to_index'), admin_card_blocks_path, :class => 'btn btn-default' %>
      <% if can? :edit, CardBlock %><%= link_to t('card_blocks.edit.title'), edit_admin_card_block_path(@card_block), :class => 'btn btn-primary' %><% end %>
      <% if can? :destroy, CardBlock %><%= link_to t('card_blocks.delete.title'), admin_card_block_path(@card_block), :method => 'delete', :class => 'btn btn-danger', :data => { :confirm => t('confirm_delete') } %><% end %>
    </div>
  </div>
<% end %>
