<div class="page-header">
  <h1><%= t('devise.unlocks.resend') %></h1>
</div>
<div id="resend-unlock" class="page row">
  <div class="page-body col-xs-12">
    <%= simple_form_for resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.input :email, :autofocus => true, :required => true %>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.button :submit, t('devise.unlocks.resend'), :class => 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
    <%= render 'devise/shared/links' %>
  </div>
</div>
