- content_for :page_title, t('.title')
- content_for :body_class, 'update-password'
.page-register.page
  %header.page-header
    %h1= t('.title')
  .page-body
    = form_for resource, as: resource_name, url: password_path(resource_name) do |f|
      = render 'devise/shared/error_messages', resource: resource
      .row
        .input-field.col.s12
          = f.email_field :email, autocomplete: 'email', autofocus: true, required: true
          = f.label :email
      .row
        .input-field.col.s12
          = f.submit t('.submit'), class: success_button_class
    = render 'devise/shared/links'
