- content_for :body_class, 'home'
- content_for :jumbotron do
  .jumbotron
    %h1= t('.title')
    %p= t('.tagline_html')
.row
  .col.s12.m6
    %h2.center-align= t('devise.sessions.new.title')
    = form_for @new_user, as: :user, url: session_path(:user) do |f|
      .input-field
        = f.text_field :username, required: true
        = f.label :username
      .input-field
        = f.password_field :password, required: true
        = f.label :password
      %p
        = f.label :remember_me do
          = f.check_box :remember_me
          %span= t('devise.sessions.new.remember_me')
      .input-field
        = f.submit t('devise.sessions.new.submit'), class: success_button_class
  .col.s12.hide-on-med-and-up.center-align
    %span{ style: 'text-decoration: line-through;' } &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    %span &nbsp;or&nbsp;
    %span{ style: 'text-decoration: line-through;' } &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  .col.s12.m6
    %h2.center-align= t('devise.registrations.new.title')
    = form_for @new_user, as: :user, url: registration_path(:user), html: { autocomplete: 'off', honeypot: true } do |f|
      .input-field
        = f.text_field :username, required: true
        = f.label :username
      .input-field
        = f.email_field :email, required: true
        = f.label :email
      .input-field
        = f.password_field :password, required: true
        = f.label :password
      .input-field
        = f.password_field :password_confirmation, required: true
        = f.label :password_confirmation
      %p
        = label_tag :accept_terms_of_service do
          = check_box_tag :accept_terms_of_service, 'yes', false, class: 'accept-terms-of-service'
          %span= t('devise.registrations.new.accept_terms_of_service_html')
      .input-field
        = f.submit t('devise.registrations.new.submit'), class: "#{success_button_class} requires-terms-of-service-acceptance", disabled: true
