<% content_for :body_class, 'home' %>
<% content_for :jumbotron do %>
  <div class="jumbotron">
    <div class="container">
      <h1>The Caves of Koilos</h1>
      <p class="lead">Keep track of your Magic: The Gathering<br class="visible-xs"><span class="hidden-xs">&nbsp;</span>card collection.</p>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <h2><%= t('navigation.sign_in') %></h2>
    <%= simple_form_for @new_user, :as => :user, :url => session_path(:user), :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.input :username, :autofocus => true, :required => true %>
      <%= f.input :password, :required => true %>
      <%= f.input :remember_me, :as => :boolean, :label => 'Remember Me', :required => false, :wrapper => :bootstrap3_horizontal_checkbox %>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.button :submit, t('navigation.sign_in'), :class => 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-xs-12 visible-xs visible-sm text-center">
    <span style="text-decoration: line-through;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;or&nbsp;<span style="text-decoration: line-through;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  </div>
  <div class="col-xs-12 col-md-6">
    <h2><%= t('navigation.register') %></h2>
    <%= simple_form_for @new_user, :as => :user, :url => registration_path(:user), :html => { :autocomplete => 'off', :class => 'form-horizontal', :honeypot => true } do |f| %>
      <%= f.input :username, :required => true %>
      <%= f.input :email, :required => true %>
      <%= f.input :password, :required => true %>
      <%= f.input :password_confirmation, :label => 'Repeat Password', :required => true %>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.button :submit, t('navigation.register'), :class => 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
