= t('.greeting')
\
= t('.message')
\
= t('.reference')
\
= Contact.human_attribute_name(:name)
\------------------------
= @contact.name
\
= Contact.human_attribute_name(:subject)
\------------------------
= @contact.subject
\
= Contact.human_attribute_name(:body)
\------------------------
= @contact.body
