<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body style="background: #ffffff; color: #555555; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
  <h1 style="font-size: 26px; line-height: 32px;">New Contact Form Message</h1>
  <h2 style="font-size: 20px; line-height: 26px;">Name</h2>
  <p style="font-size: 14px; line-height: 20px;"><%= @contact.name %></p>
  <h2 style="font-size: 20px; line-height: 26px;">Email</h2>
  <p style="font-size: 14px; line-height: 20px;"><a href="mailto:<%= @contact.email %>"><%= @contact.email %></a></p>
  <h2 style="font-size: 20px; line-height: 26px;">Subject</h2>
  <p style="font-size: 14px; line-height: 20px;"><%= @contact.subject %></p>
  <h2 style="font-size: 20px; line-height: 26px;">Body</h2>
  <p style="font-size: 14px; line-height: 20px;"><%= @contact.body %></p>
</body>
</html>
