<div class="col-xs-12 col-sm-9">
  <% @card.card_parts.each_slice(2) do |card_parts| %>
    <div class="row">
      <% card_parts.sort_by(&:card_number).each do |card_part| %>
        <% present card_part, CardPresenter do |card_part_presenter| %>
          <div class="card-part col-xs-12 col-sm-6">
            <h2 class="card-name"><%= card_part_presenter.name %></h2>
            <div class="row">
              <div class="card-attribute-label col-xs-12 col-sm-4">
                Mana Cost:
              </div>
              <div class="card-attribute mana-cost col-xs-12 col-sm-8">
                <%= card_part_presenter.mana_cost(:size => 'small') %>
              </div>
            </div>
            <div class="row">
              <div class="card-attribute-label col-xs-12 col-sm-4">
                Converted Mana Cost:
              </div>
              <div class="card-attribute converted-mana-cost col-xs-12 col-sm-8">
                <%= card_part_presenter.converted_mana_cost %>
              </div>
            </div>
            <div class="row">
              <div class="card-attribute-label col-xs-12 col-sm-4">
                Colors:
              </div>
              <div class="card-attribute colors col-xs-12 col-sm-8">
                <%= card_part_presenter.colors %>
              </div>
            </div>
            <div class="row">
              <div class="card-attribute-label col-xs-12 col-sm-4">
                Type:
              </div>
              <div class="card-attribute card-type col-xs-12 col-sm-8">
                <%= card_part_presenter.card_type %>
              </div>
            </div>
            <div class="row">
              <div class="card-attribute-label col-xs-12 col-sm-4">
                Card Text:
              </div>
              <div class="card-attribute card-text col-xs-12 col-sm-8">
                <%= card_part_presenter.card_text(:size => 'small') %>
              </div>
            </div>
            <div class="row">
              <div class="card-attribute-label col-xs-12 col-sm-4">
                Flavor Text:
              </div>
              <div class="card-attribute flavor-text col-xs-12 col-sm-8">
                <%= card_part_presenter.flavor_text %>
              </div>
            </div>
            <div class="row">
              <div class="card-attribute-label col-xs-12 col-sm-4">
                P/T:
              </div>
              <div class="card-attribute power-toughness col-xs-12 col-sm-8">
                <%= card_part_presenter.power_toughness %>
              </div>
            </div>
            <div class="row">
              <div class="card-attribute-label col-xs-12 col-sm-4">
                Rarity:
              </div>
              <div class="card-attribute rarity col-xs-12 col-sm-8">
                <%= card_part_presenter.rarity %>
              </div>
            </div>
            <% if @card.card_set.show_card_numbers %>
              <div class="row">
                <div class="card-attribute-label col-xs-12 col-sm-4">
                  Card Number:
                </div>
                <div class="card-attribute card-number col-xs-12 col-sm-8">
                  <%= card_part_presenter.card_number %>
                </div>
              </div>
            <% end %>
            <div class="row">
              <div class="card-attribute-label col-xs-12 col-sm-4">
                Artist:
              </div>
              <div class="card-attribute artist col-xs-12 col-sm-8">
                <%= card_part_presenter.artist %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
