<h1><%= t("cards.#{@card.persisted? ? 'edit' : 'new'}.title") %></h1>
<%= simple_form_for [:admin, @card], :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <%= f.input :name %>
  </fieldset>
  <div class="form-actions">
    <%= link_to t('cards.links.back_to_index'), admin_cards_path, :class => 'btn' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <% unless @card.persisted? %>
      <label class="checkbox inline">
        <%= check_box_tag 'redirect_to_new', 1, true %> <%= t('helpers.submit.card.redirect_to_new') %>
      </label>
    <% end %>
  </div>
<% end %>
