<div id="card">
  <h1><%= t('cards.show.title') %> <small><%= @card.name %></small></h1>
  <table class="table table-condensed table-striped">
    <tbody>
      <tr>
      <tr>
        <th class="span3"><%= t('activerecord.attributes.card.name') %></th>
        <td><%= @card.name %></td>
      </tr>
      <tr>
        <th class="span3"><%= t('activerecord.attributes.card.created_at') %></th>
        <td><%= @card.created_at %></td>
      </tr>
      <tr>
        <th class="span3"><%= t('activerecord.attributes.card.updated_at') %></th>
        <td><%= @card.updated_at %></td>
      </tr>
    </tbody>
  </table>
  <div class="form-actions">
    <%= link_to t('cards.links.back_to_index'), admin_cards_path, :class => 'btn' %>
    <% if can? :edit, Card, current_user %><%= link_to t('cards.edit.title'), edit_admin_card_path(@card), :class => 'btn' %><% end %>
    <% if can? :destroy, Card, current_user %><%= link_to t('cards.delete.title'), admin_card_path(@card), :method => 'delete', :class => 'btn btn-danger', :data => { :confirm => t('confirm_delete') } %><% end %>
  </div>
</div>
