<% present @card do |card_presenter| %>
  <div id="card-<%= @card.id %>" class="admin-content">
    <h1><%= t('cards.show.title') %> <small><%= card_presenter.name %></small></h1>
    <div class="object-actions">
      <%= link_to t('cards.links.back_to_index'), admin_cards_path, :class => 'btn btn-default' %>
      <% if can? :edit, Card %><%= link_to t('cards.edit.title'), edit_admin_card_path(@card), :class => 'btn btn-primary' %><% end %>
      <% if can? :destroy, Card %><%= link_to t('cards.delete.title'), admin_card_path(@card), :method => 'delete', :class => 'btn btn-danger', :data => { :confirm => t('confirm_delete') } %><% end %>
    </div>
    <div class="table-responsive">
      <table class="table table-condensed table-striped">
        <tbody>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card.multiverse_id') %></th>
            <td class="col-xs-8 col-sm-10"><%= link_to card_presenter.multiverse_id, "http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=#{card_presenter.multiverse_id}", :target => '_blank' %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card.name') %></th>
            <td class="col-xs-8 col-sm-10"><%= card_presenter.name %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card.card_set_id') %></th>
            <td class="col-xs-8 col-sm-10"><%= link_to card_presenter.card_set_name, admin_card_set_path(@card.card_set) %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card_set.card_block_id') %></th>
            <td class="col-xs-8 col-sm-10"><%= link_to card_presenter.card_block_name, admin_card_block_path(@card.card_set.card_block) %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card_block.card_block_type_id') %></th>
            <td class="col-xs-8 col-sm-10"><%= link_to card_presenter.card_block_type_name, admin_card_block_type_path(@card.card_set.card_block.card_block_type) %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card.layout') %></th>
            <td class="col-xs-8 col-sm-10"><%= card_presenter.layout %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card.mana_cost') %></th>
            <td class="col-xs-8 col-sm-10"><%= card_presenter.mana_cost(:size => 'small') %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card.converted_mana_cost') %></th>
            <td class="col-xs-8 col-sm-10"><%= card_presenter.converted_mana_cost %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card.colors') %></th>
            <td class="col-xs-8 col-sm-10"><%= card_presenter.colors %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card.card_type') %></th>
            <td class="col-xs-8 col-sm-10"><%= card_presenter.card_type %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card.card_supertypes') %></th>
            <td class="col-xs-8 col-sm-10"><%= card_presenter.card_supertypes %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card.card_types') %></th>
            <td class="col-xs-8 col-sm-10"><%= card_presenter.card_types %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card.card_subtypes') %></th>
            <td class="col-xs-8 col-sm-10"><%= card_presenter.card_subtypes %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card.card_text') %></th>
            <td class="col-xs-8 col-sm-10"><%= card_presenter.card_text(:size => 'small') %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card.flavor_text') %></th>
            <td class="col-xs-8 col-sm-10"><%= card_presenter.flavor_text %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card.power') %></th>
            <td class="col-xs-8 col-sm-10"><%= card_presenter.power %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card.toughness') %></th>
            <td class="col-xs-8 col-sm-10"><%= card_presenter.toughness %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card.loyalty') %></th>
            <td class="col-xs-8 col-sm-10"><%= card_presenter.loyalty %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card.rarity') %></th>
            <td class="col-xs-8 col-sm-10"><%= card_presenter.rarity %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card.card_number') %></th>
            <td class="col-xs-8 col-sm-10"><%= card_presenter.card_number %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card.artist') %></th>
            <td class="col-xs-8 col-sm-10"><%= card_presenter.artist %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card.created_at') %></th>
            <td class="col-xs-8 col-sm-10"><%= card_presenter.created_at %></td>
          </tr>
          <tr>
            <th class="col-xs-4 col-sm-2"><%= t('activerecord.attributes.card.updated_at') %></th>
            <td class="col-xs-8 col-sm-10"><%= card_presenter.updated_at %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="object-actions">
      <%= link_to t('cards.links.back_to_index'), admin_cards_path, :class => 'btn btn-default' %>
      <% if can? :edit, Card %><%= link_to t('cards.edit.title'), edit_admin_card_path(@card), :class => 'btn btn-primary' %><% end %>
      <% if can? :destroy, Card %><%= link_to t('cards.delete.title'), admin_card_path(@card), :method => 'delete', :class => 'btn btn-danger', :data => { :confirm => t('confirm_delete') } %><% end %>
    </div>
  </div>
<% end %>
