<div id="set-<%= @card_set.id %>" class="set">
  <h1><%= card_set_symbol(@card_set, :class => 'large') %> <%= @card_set.name %></h1>
  <%= search_form_for @search, :url => set_cards_path(@card_set), :html => { :method => :get, :id => 'search-form', :class => 'form-search well' } do |f| %>
    <%= f.text_field :name_cont, :placeholder => t('activerecord.attributes.card.name') %>
    <%= f.text_field :card_type_cont, :placeholder => t('activerecord.attributes.card.card_type') %>
    <%= f.text_field :card_text_cont, :placeholder => t('activerecord.attributes.card.card_text') %>
    <%= f.button '<i class="icon-search"></i> Search'.html_safe, :type => :submit, :class => 'btn btn-primary' %>
    <%= link_to '<i class="icon-remove"></i>'.html_safe, set_cards_path(@card_set), :class => 'btn', :rel => 'tooltip', :title => t('clear_search') %>
  <% end %>
  <% @cards.each do |card| %>
    <% collection = card.collection_for(current_user) %>
    <div id="<%= card.multiverse_id %>" class="row card <%= card.color.join(' ') %>" data-card-id="<%= card.id %>" data-quantity="<%= collection.present? ? collection.quantity : 0 %>">
      <div class="card-name span3">
        <%= link_to card.name, set_card_path(@card_set.slug, card), :rel => 'tooltip', :title => card_tooltip_text(card), :data => { :html => 'true' } %>
      </div>
      <div class="card-rarity span1">
        <%= card.rarity.first %>
      </div>
      <div class="card-quantity span1">
        <% if collection.present? && collection.quantity > 0%>
          <%= collection.quantity %>
        <% else %>
          -
        <% end %>
      </div>
      <div class="span1">
        <button class="increment btn"><i class="icon-chevron-up"></i></button>
      </div>
      <div class="span1">
        <button class="decrement btn"><i class="icon-chevron-down"></i></button>
      </div>
    </div>
  <% end %>
</div>
