<% content_for :body_class, 'cards' %>
<% present @card_set do |card_set_presenter| %>
  <div class="page-header">
    <h1><%= card_set_presenter.symbol(:class => 'hidden-sm hidden-md hidden-lg') %><%= card_set_presenter.symbol(:class => 'large hidden-xs') %> <%= card_set_presenter.name %></h1>
  </div>
  <div id="set-<%= @card_set.id %>" class="set row">
    <div class="well col-xs-12">
      <%= search_form_for @search, :url => set_cards_path(@card_set.slug), :html => { :method => :get, :id => 'search-form', :class => 'form-inline' } do |f| %>
        <div class="form-group">
          <%= f.text_field :name_cont, :class => 'form-control', :placeholder => t('activerecord.attributes.card.name') %>
        </div>
        <div class="form-group">
          <%= f.text_field :card_type_cont, :class => 'form-control', :placeholder => t('activerecord.attributes.card.card_type') %>
        </div>
        <div class="form-group">
          <%= f.text_field :card_text_cont, :class => 'form-control', :placeholder => t('activerecord.attributes.card.card_text') %>
        </div>
        <div class="form-group">
          <%= f.button "<span class=\"glyphicon glyphicon-search\"></span> #{t('search')}".html_safe, :type => :submit, :class => 'btn btn-primary' %>
          <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, set_cards_path(@card_set.slug), :class => 'btn btn-default', :rel => 'tooltip', :title => t('clear_search') %>
        </div>
      <% end %>
    </div>
    <div class="cards col-xs-12">
      <% @cards.each do |card| %>
        <% present card do |card_presenter| %>
          <div id="card-<%= card.id %>" class="row card <%= card_presenter.color_class %>" data-card-id="<%= card.id %>">
            <div class="card-name col-xs-12 col-sm-7">
              <%= link_to card_presenter.name, set_card_path(@card_set.slug, card), :rel => 'tooltip', :title => card_tooltip_text(card).gsub("\"", "'"), :data => { :html => 'true' } %>
            </div>
            <div class="card-rarity col-xs-1">
              <%= card_presenter.rarity.first %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
