<div id="set-<%= @card_set.id %>" class="set">
  <h1><%= card_set_symbol(@card_set, :class => 'large') %> <%= @card_set.name %></h1>
  <% @card_set.cards.each do |card| %>
    <% collection = card.collection_for(current_user) %>
    <div id="<%= card.multiverse_id %>" class="row card <%= card.color.join(' ') %>" data-card-id="<%= card.id %>" data-quantity="<%= collection.present? ? collection.quantity : 0 %>">
      <div class="card-name span2">
        <%= link_to card.name, set_card_path(@card_set, card) %>
      </div>
      <div class="card-quantity span1">
        <% if collection.present? %>
          <%= collection.quantity %>
        <% else %>
          -
        <% end %>
      </div>
      <div class="span1">
        <button class="increment btn"><i class="icon-chevron-up"></i></button>
      </div>
      <div class="span1">
        <button class="decrement btn"><i class="icon-chevron-down"></i></button>
      </div>
    </div>
  <% end %>
</div>
