- content_for :page_title, t('.title', card_set_name: @card_set.name)
- content_for :body_class, 'cards'
- present @card_set do |card_set_presenter|
  .page-cards.page
    %header.page-header
      %h1
        = card_set_presenter.symbol
        = card_set_presenter.name
    .page-body
      = render partial: 'cards/index/search_form', locals: { search_url: set_cards_path(@card_set.slug), clear_url: set_cards_path(@card_set.slug) }
      .set{ id: "set-#{@card_set.slug}" }
        .cards
          = render partial: 'card_without_collection', collection: @cards, as: :card
