<div id="<%= @card.id %>" class="card" data-card-id="<%= @card.id %>" data-quantity="<%= @collection.present? ? @collection.quantity : 0 %>">
  <div class="row">
    <div class="span12">
      <h1 class="card-name"><%= link_to card_set_symbol(@card_set, :rarity => @card.rarity.downcase.to_sym, :class => 'large'), set_cards_path(@card_set.slug) %> <%= @card.name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <strong>Mana Cost:</strong> <span class="mana-cost"><%= mana_cost(@card) %></span>
    </div>
    <div class="span12">
      <strong>Converted Mana Cost:</strong> <span class="converted-mana-cost"><%= @card.converted_mana_cost %></span>
    </div>
    <div class="span12">
      <strong>Types:</strong> <span class="card-type"><%= @card.card_type %></span>
    </div>
    <div class="span12">
      <strong>Card Text:</strong> <span class="card-text"><%= @card.card_text.html_safe %></span>
    </div>
    <div class="span12">
      <strong>Flavor Text:</strong> <span class="flavor-text"><%= @card.flavor_text.html_safe %></span>
    </div>
    <div class="span12">
      <strong>P/T:</strong> <span class="power-toughness"><% if @card.power.present? && @card.toughness.present? %><span class="power"><%= @card.power %></span> / <span class="toughness"><%= @card.toughness %></span><% end %></span>
    </div>
    <div class="span12">
      <strong>Rarity:</strong> <span class="rarity"><%= @card.rarity %></span>
    </div>
    <% if @card.card_set.show_card_numbers? %>
      <div class="span12">
        <strong>Card Number:</strong> <span class="artist"><%= @card.card_number %></span>
      </div>
     <% end %>
    <div class="span12">
      <strong>Artist:</strong> <span class="artist"><%= @card.artist %></span>
    </div>
    <div class="span12">
      <strong>Other Versions:</strong> <span class="other-versions"><% @card.other_versions.each do |other_version| %><%= link_to card_set_symbol(other_version.card_set, :rarity => other_version.rarity.downcase.to_sym), set_card_path(other_version.card_set.slug, other_version) %><% end %></span>
    </div>
  </div>
  <div class="row">
    <div class="span1">
      <strong>Quantity:</strong>
    </div>
    <div class="card-quantity span1">
      <% if @collection.present? && @collection.quantity > 0 %>
        <%= @collection.quantity %>
      <% else %>
        -
      <% end %>
    </div>
    <div class="span1">
      <button class="increment btn"><i class="icon-chevron-up"></i></button>
    </div>
    <div class="span1">
      <button class="decrement btn"><i class="icon-chevron-down"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="span12 show-on-gatherer">
      <%= link_to 'Show on Gatherer', "http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=#{@card.multiverse_id}", :target => '_blank' %>
    </div>
  </div>
</div>
