<div id="card-<%= @card.multiverse_id %>" class="card" data-card-id="<%= @card.id %>" data-quantity="<%= @collection.present? ? @collection.quantity : 0 %>">
  <div class="row">
    <div class="span12">
      <h1 class="card-name"><%= link_to card_set_symbol(@card_set, :rarity => @card.rarity.downcase.to_sym, :size => 'large'), set_cards_path(@card_set.slug) %> <%= @card.name %></h1>
    </div>
  </div>
  <%= render :partial => "cards/show/#{@card.layout.underscore}" %>
  <div class="row">
    <div class="span12">
      <strong>Other Versions:</strong> <span class="other-versions"><% @card.other_versions.each do |other_version| %><%= link_to card_set_symbol(other_version.card_set, :rarity => other_version.rarity.downcase.to_sym, :size => 'small'), set_card_path(other_version.card_set.slug, other_version) %><% end %></span>
    </div>
  </div>
  <div class="row">
    <div class="span1">
      <strong>Quantity:</strong>
    </div>
    <div class="card-quantity span1">
      <% if @collection.present? && @collection.quantity > 0 %>
        <%= @collection.quantity %>
      <% else %>
        -
      <% end %>
    </div>
    <div class="span1">
      <button class="increment btn"><i class="icon-chevron-up"></i></button>
    </div>
    <div class="span1">
      <button class="decrement btn"><i class="icon-chevron-down"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="span12 show-on-gatherer">
      <%= link_to 'Show on Gatherer', "http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=#{@card.multiverse_id}", :target => '_blank' %>
    </div>
  </div>
</div>
