<div id="card-sets">
  <h1><%= t('activerecord.models.card_set').pluralize %> <small><%= @card_sets.total_count %></small></h1>
  <%= search_form_for @search, :url => admin_card_sets_path, :html => { :method => :get, :class => 'form-search well' } do |f| %>
    <%= f.text_field :name_cont, :placeholder => t('activerecord.attributes.card_set.name') %>
    <%= f.button "<i class=\"icon-search\"></i> #{t('search')}".html_safe, :type => :submit, :class => 'btn btn-primary' %>
    <%= link_to '<i class="icon-remove"></i>'.html_safe, admin_card_sets_path, :class => 'btn', :rel => 'tooltip', :title => t('clear_search') %>
  <% end %>
  <% if can? :create, CardSet, current_user %>
    <div class="clearfix">
      <%= link_to t('card_sets.new.title'), new_admin_card_set_path, :class => 'btn btn-primary pull-right' %>
    </div>
  <% end %>
  <% if @card_sets.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= sort_link @search, :name %></th>
          <th><%= sort_link @search, :created_at %></th>
          <th><%= sort_link @search, :updated_at %></th>
          <% if can? :edit, CardSet, current_user %><th class="icon">&nbsp;</th><% end %>
          <% if can? :destroy, CardSet, current_user %><th class="icon">&nbsp;</th><% end %>
        </tr>
      </thead>
      <tbody>
        <% @card_sets.each do |card_set| %>
          <tr>
            <td><%= link_to truncate(card_set.name, :length => 64), admin_card_set_path(card_set) %></td>
            <td><%= card_set.created_at.iso8601 %></td>
            <td><%= card_set.updated_at.iso8601 %></td>
            <% if can? :edit, CardSet, current_user %><td class="icon"><%= icon_edit_link edit_admin_card_set_path(card_set) %></td><% end %>
            <% if can? :destroy, CardSet, current_user %><td class="icon"><%= icon_delete_link admin_card_set_path(card_set) %></td><% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @card_sets %>
  <% else %>
    <p class="lead"><%= t('messages.card_sets.none') %></p>
  <% end %>
</div>
