<% content_for :page_title do %>
  <% "Contact - #{t('application.title')}" %>
<% end %>
<div id="contact">
  <h1>Contact</h1>
  <p>Got a question about The Caves of Koilos? Send us a message! We love feedback.</p>
  <%= simple_form_for @contact, :url => 'contact', :method => :post, :html => { :class => 'form-horizontal', :honeypot => true } do |f| %>
    <fieldset>
      <%= f.input :name, :as => :string %>
      <%= f.input :email, :as => :email %>
      <%= f.input :subject, :as => :string %>
      <%= f.input :body, :as => :text %>
    </fieldset>
    <div class="form-actions">
      <%= f.submit 'Submit', :class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>
