!!!
%html
  %head
    %meta{ 'content' => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
  %body{ 'style' => "font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen;".html_safe }
    %p{ 'style' => 'font-size: 20px; line-height: 24px' }= t('.greeting', username: @resource.username)
    %p{ 'style' => 'font-size: 16x; line-height: 18px' }= t('.text')
    %p{ 'style' => 'font-size: 16x; line-height: 18px' }= link_to(t('.link_text'), edit_password_url(@resource, reset_password_token: @resource.reset_password_token))
    %p{ 'style' => 'font-size: 16x; line-height: 18px' }= t('.ignore')
    %p{ 'style' => 'font-size: 16x; line-height: 18px' }= t('.will_not_change')
