<div id="users" class="admin-content">
  <h1><%= t('activerecord.models.user').pluralize %></h1>
  <div class="well">
    <%= search_form_for @search, :url => admin_users_path, :html => { :method => :get, :class => 'form-inline' } do |f| %>
      <div class="form-group">
        <%= f.text_field :first_name_or_last_name_cont, :class => 'form-control', :placeholder => t('activerecord.attributes.user.full_name') %>
      </div>
      <div class="form-group">
        <%= f.text_field :email_cont, :class => 'form-control', :placeholder => t('activerecord.attributes.user.email') %>
      </div>
      <div class="form-group">
        <%= f.select :role_eq, Ability::ROLES.map { |_, value| [value.titleize, value] }, { :include_blank => "Select #{t('activerecord.attributes.user.role')}", :selected => params[:q].present? ? params[:q][:roles_eq] : '' }, { :class => 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.button "<span class=\"glyphicon glyphicon-search\"></span> #{t('search')}".html_safe, :type => :submit, :class => 'btn btn-primary' %>
        <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, admin_users_path, :class => 'btn btn-default', :rel => 'tooltip', :title => t('clear_search') %>
      </div>
    <% end %>
  </div>
  <% if can? :create, User %>
    <div class="clearfix">
      <%= link_to t('users.new.title'), new_admin_user_path, :class => 'btn btn-primary new-object' %>
    </div>
  <% end %>
  <% if @users.present? %>
    <div class="table-responsive">
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th><%= sort_link @search, :first_name, t('activerecord.attributes.user.full_name') %></th>
            <th><%= sort_link @search, :email %></th>
            <%= edit_and_delete_header_columns(User) %>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <% present user do |user_presenter| %>
              <tr>
                <td><%= link_to user_presenter.full_name, admin_user_path(user) %></td>
                <td><%= user_presenter.email %> <%= user_presenter.email_link %></td>
                <%= edit_and_delete_columns(user) %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @users %>
  <% else %>
    <p class="lead"><%= t('messages.users.none') %></p>
  <% end %>
</div>
