<div id="admin-index" class="admin-content">
  <h1><%= t('navigation.admin_home') %></h1>
  <div id="rails-info">
    <h2><%= t('admin.sections.rails_info') %></h2>
    <%= Rails::Info.to_html.html_safe %>
  </div>
  <div id="routes" class="visible-lg">
    <h2><%= t('admin.sections.routes') %></h2>
    <pre>
      <% Rails::Application::RouteInspector.new.format(Rails.application.routes.routes, ENV['CONTROLLER']).each do |route| %>
        <%= route %></li>
      <% end %>
    </pre>
  </div>
  <div id="gems" class="visible-lg">
    <h2><%= t('admin.sections.gems') %></h2>
    <ul>
      <% gem_dependencies.each do |gem| %>
        <li>
          <%= gem[:name] %> (<%= gem[:version] %>)
          <% if gem[:dependencies].present? %>
            <ul>
              <% gem[:dependencies].each do |dependency| %>
                <li><%= dependency[:name] %> (<%= dependency[:requirement] %>)</li>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
