<div class="page-header">
  <h1>Collection Stats</h1>
</div>
<div id="stats" class="page row">
  <div class="page-body col-xs-12">
    <div id="total-cards-in-collections" class="stat">
      You have a total of <span class="stat-value"><%= @total_cards_in_collections %></span> cards.
    </div>
    <div id="unique-cards-in-collections" class="stat">
      You have <span class="stat-value"><%= @unique_cards_in_collections %></span> unique cards.
    </div>
    <div class="row">
      <% @card_set_stats.each do |card_set_stat| %>
        <% present card_set_stat do |card_set_stat_presenter| %>
          <div id="set-<%= card_set_stat_presenter.card_set_id %>" class="set col-xs-6 col-sm-3">
            <div class="symbol-container">
              <%=link_to card_set_stat_presenter.symbol, stat_path(card_set_stat_presenter.card_set_slug) %>
            </div>
            <%= card_set_stat_presenter.name %><br>
            <%= card_set_stat_presenter.total_cards %> total<br>
            <%= card_set_stat_presenter.unique_cards %> / <%= card_set_stat_presenter.cards_in_set %>
            <div class="percent-collected progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="<%= card_set_stat_presenter.percent_collected %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= card_set_stat_presenter.percent_collected %>%;">
                 <%= card_set_stat_presenter.percent_collected %>%
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
