<div class="page-header">
  <h1>Collection Stats</h1>
</div>
<div id="stats" class="page row">
  <div class="page-body col-xs-12">
    <div id="total-cards-in-collections" class="stat">
      You have a total of <span class="stat-value"><%= @total_cards_in_collections %></span> cards.
    </div>
    <div id="unique-cards-in-collections" class="stat">
      You have <span class="stat-value"><%= @unique_cards_in_collections %></span> unique cards.
    </div>
    <div class="row">
      <% @card_set_stats.each do |card_set_stat| %>
        <% present card_set_stat[:card_set] do |card_set_presenter| %>
          <div id="set-<%= card_set_stat[:card_set].id %>" class="set col-xs-6 col-sm-3">
            <div class="symbol-container">
              <%= card_set_presenter.symbol(:rarity => card_set_stat[:rarity]) %><br>
            </div>
            <%= card_set_presenter.name %><br>
            <%= card_set_stat[:total_cards] %> total<br>
            <%= card_set_stat[:unique_cards] %> / <%= card_set_stat[:card_in_set] %>
            <div class="percent-collected progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="<%= card_set_stat[:percent_collected] %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= card_set_stat[:percent_collected] %>%;">
                 <%= card_set_stat[:percent_collected] %>%
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <!--<%# %w(white blue black red green colorless multi land).each do |color| %>
      <div class="stat">
        <strong><%#= color.capitalize %>:</strong> <span class="stat-value"><%#= instance_variable_get("@number_of_#{color}") %></span>
      </div>
    <%# end %>-->
    <!--<%# @card_sets.each do |card_set| %>
      <div class="stat">
        <%# card_set_collections = @collections.select { |collection| collection.card.card_set_id == card_set.id } %>
        <strong><%#= card_set.name %>:</strong> <span class="stat-value"><%#= card_set_collections.length %> / <%#= card_set.cards.count %><%# if card_set_collections.length > 0 %> (<%#= card_set_collections.inject(0) { |total, collection| total += collection.quantity } %> total)<#% end %></span>
      </div>
    <#% end %>-->
  </div>
</div>
