<% content_for :body_class, 'card-set-stat' %>
<% present @card_set_stat do |card_set_stat_presenter| %>
  <div class="page-header">
    <h1><%= card_set_stat_presenter.symbol(:class => 'hidden-sm hidden-md hidden-lg') %><%= card_set_stat_presenter.symbol(:class => 'large hidden-xs') %> <%= card_set_stat_presenter.name %> Collection Stats</h1>
  </div>
  <div id="stats" class="page row">
    <div class="page-body col-xs-12">
      <div class="overall-stats">
        <h2>Overall</h2>
        <div class="percent-collected progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="<%= card_set_stat_presenter.percent_collected %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= card_set_stat_presenter.percent_collected %>%;">
            <%= card_set_stat_presenter.percent_collected %>%
          </div>
        </div>
        <div class="total-cards overall-all">
          <%= card_set_stat_presenter.total_cards %> total
        </div>
        <div class="unique-cards overall-all">
          <%= card_set_stat_presenter.unique_cards %> / <%= card_set_stat_presenter.cards_in_set %>
        </div>
      </div>
      <div class="rarity-stats">
        <h2>By Rarity</h2>
        <div class="unique-common-cards overall-stat">
          <%= @card_set_stat.unique_common_cards %> / <%= @card_set_stat.common_cards_in_set %> Common
        </div>
        <div class="unique-uncommon-cards overall-stat">
          <%= @card_set_stat.unique_uncommon_cards %> / <%= @card_set_stat.uncommon_cards_in_set %> Uncommon
        </div>
        <div class="unique-rare-cards overall-stat">
          <%= @card_set_stat.unique_rare_cards %> / <%= @card_set_stat.rare_cards_in_set %> Rare
        </div>
        <% if @card_set_stat.mythic_rare_cards_in_set > 0 %>
          <div class="unique-mythic-rare-cards overall-stat">
            <%= @card_set_stat.unique_mythic_rare_cards %> / <%= @card_set_stat.mythic_rare_cards_in_set %> Mythic Rare
          </div>
        <% end %>
      </div>
      <div class="card-lists-stats">
        <h2>By List</h2>
        <% @card_lists.each do |card_list| %>
          <div class="card-list-stat">
            <h3><%= card_list.name %></h3>
            <div class="unique-common-cards card-list-stat">
              <%= @card_set_stat.unique_common_cards_in_list(card_list) %> / <%= @card_set_stat.common_cards_in_set %> Common
            </div>
            <div class="unique-uncommon-cards card-list-stat">
              <%= @card_set_stat.unique_uncommon_cards_in_list(card_list) %> / <%= @card_set_stat.uncommon_cards_in_set %> Uncommon
            </div>
            <div class="unique-rare-cards card-list-stat">
              <%= @card_set_stat.unique_rare_cards_in_list(card_list) %> / <%= @card_set_stat.rare_cards_in_set %> Rare
            </div>
            <% if @card_set_stat.mythic_rare_cards_in_set > 0 %>
              <div class="unique-mythic-rare-cards card-list-stat">
                <%= @card_set_stat.unique_mythic_rare_cards_in_list(card_list) %> / <%= @card_set_stat.mythic_rare_cards_in_set %> Mythic Rare
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
