!!!
%html{ dir: 'ltr', lang: 'en-US' }
  %head
    %meta{ charset: 'utf-8' }
    %title= page_title
    %meta{ content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport' }
    %meta{ content: page_meta_description, name: 'description' }
    %meta{ content: t('.author'), name: 'author' }
    %meta{ content: 'telephone=no', name: 'format-detection' }
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    %link{ href: '/favicon.ico', rel: 'shortcut icon' }
    %link{ href: asset_pack_path('media/shared/images/apple-touch-icon-iphone.png'), rel: 'apple-touch-icon', sizes: '57x57' }
    %link{ href: asset_pack_path('media/shared/images/apple-touch-icon-ipad.png'), rel: 'apple-touch-icon', sizes: '72x72' }
    %link{ href: asset_pack_path('media/shared/images/apple-touch-icon-iphone-retina.png'), rel: 'apple-touch-icon', sizes: '114x114' }
    %link{ href: asset_pack_path('media/shared/images/apple-touch-icon-ipad-retina.png'), rel: 'apple-touch-icon', sizes: '144x144' }
    %link{ href: '/humans.txt', rel: 'author' }
    = csrf_meta_tags
  %body{ class: body_class }
    %header.main-header{ role: 'banner' }
      = render 'layouts/application/header_navigation'
    %main.main-content{ role: 'main' }
      = yield(:jumbotron) if content_for?(:jumbotron)
      .container
        .row
          .col.s12
            = flash_messages
        = yield
    %footer.page-footer.footer.footer-static.footer-dark{ role: 'contentinfo' }
      .container
        .row
          .footer-about.col.s12.l6
            %h5.white-text= t('.footer.about.title')
            %p.grey-text.text-lighten-4= t('.footer.about.text_html')
            %p.grey-text.text-lighten-4= t('.footer.about.credit_html')
          .footer-links.col.s12.l4.offset-l2
            %h5.white-text= t('.footer.links.title')
            %ul
              %li.grey-text.text-lighten-3= link_to t('.footer.links.about'), '/about'
              %li.grey-text.text-lighten-3= link_to t('.footer.links.contact'), contact_path
              %li.grey-text.text-lighten-3= link_to t('.footer.links.privacy_policy'), '/privacy-policy'
              %li.grey-text.text-lighten-3= link_to t('.footer.links.terms_and_conditions'), '/terms-and-conditions'
              %li.grey-text.text-lighten-3= link_to t('.footer.links.source'), 'https://github.com/seaneshbaugh/card_tracker'
        .footer-legal
          %p.grey-text-text-lighten-4= t('.footer.legal.trademark_html')
          %p.grey-text-text-lighten-4= t('.footer.legal.copyright_html')
          %p.grey-text-text-lighten-4= t('.footer.legal.disclaimer')
