<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title><%= content_for?(:title) ? yield(:title).strip : t('application.title') %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="<%= t('application.description') %>">
  <meta name="author" content="<%= t('application.author') %>">
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link href="/favicon.ico" rel="shortcut icon">
  <link href="<%= image_path('apple-touch-icon-iphone.png') %>" rel="apple-touch-icon" sizes="57x57">
  <link href="<%= image_path('apple-touch-icon-ipad.png') %>" rel="apple-touch-icon" sizes="72x72">
  <link href="<%= image_path('apple-touch-icon-iphone-retina.png') %>" rel="apple-touch-icon" sizes="114x114">
  <link href="<%= image_path('apple-touch-icon-ipad-retina.png') %>" rel="apple-touch-icon" sizes="144x144">
  <link href="/humans.txt" rel="author">
  <%= csrf_meta_tags %>
</head>
<body<%= body_class %>>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to t('application.title'), root_path, :class => 'navbar-brand' %>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <% if current_user %><li class="collection-nav-link"><%= link_to ('<span class="glyphicon glyphicon-align-justify"></span> ' + 'Sets').html_safe, sets_path, :class => is_active_controller?('card_sets') %></li><% end %>
          <% if current_user %><li class="stats-nav-link"><%= link_to ('<span class="glyphicon glyphicon-stats"></span> ' + 'Stats').html_safe, stats_path, :class => is_active_controller?('stats') %></li><% end %>
          <% if can? :read, :admin %><li class="admin-nav-link visible-xs"><%= link_to ('<span class="glyphicon glyphicon-wrench"></span> ' + t('navigation.admin_home')).html_safe, admin_root_path %></li><% end %>
          <% if current_user %><li class="account-nav-link visible-xs"><%= link_to ('<span class="glyphicon glyphicon-cog"></span> ' + t('accounts.edit.title')).html_safe, edit_account_path, :class => is_active_controller?('accounts') %></li><% end %>
          <% if current_user %><li class="logout-nav-link visible-xs"><%= link_to ('<span class="glyphicon glyphicon-log-out"></span> ' + t('navigation.sign_out')).html_safe, destroy_user_session_path, :method => :delete %></li><% end %>
          <% if current_user %>
            <li class="card-search">
              <%= form_tag card_search_path, :method => :get, :id => 'navbar-card-search', :class => 'navbar-form', :role => 'form' do %>
                <div class="form-group">
                  <input type="text" name="q[name_or_card_text_or_card_type_cont]" placeholder="Search Cards" class="form-control">
                </div>
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
              <% end %>
            </li>
          <% end %>
          <% unless current_user %><li class="login-nav-link visible-xs"><%= link_to ('<span class="glyphicon glyphicon-log-in"></span> ' + t('navigation.sign_in')).html_safe, new_user_session_path %></li><% end %>
          <% unless current_user %><li class="register-nav-link visible-xs"><%= link_to ('<span class="glyphicon glyphicon-star-empty"></span> ' + t('navigation.register')).html_safe, new_user_registration_path %></li><% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs">
          <% if can? :read, :admin %><li class="admin-nav-link"><%= link_to ('<span class="glyphicon glyphicon-wrench"></span> ' + t('navigation.admin_home')).html_safe, admin_root_path %></li><% end %>
          <% if current_user %><li class="account-nav-link"><%= link_to ('<span class="glyphicon glyphicon-cog"></span> ' + t('accounts.edit.title')).html_safe, edit_account_path, :class => is_active_controller?('accounts') %></li><% end %>
          <% if current_user %><li class="logout-nav-lin"><%= link_to ('<span class="glyphicon glyphicon-log-out"></span> ' + t('navigation.sign_out')).html_safe, destroy_user_session_path, :method => :delete %></li><% end %>
          <% unless current_user %><li class="login-nav-link"><%= link_to ('<span class="glyphicon glyphicon-log-in"></span> ' + t('navigation.sign_in')).html_safe, new_user_session_path %></li><% end %>
          <% unless current_user %><li class="register-nav-link"><%= link_to ('<span class="glyphicon glyphicon-star-empty"></span> ' + t('navigation.register')).html_safe, new_user_registration_path %></li><% end %>
        </ul>
      </div>
    </div>
  </div>
  <%= yield :jumbotron %>
  <div class="container">
    <%= flash_messages %>
    <%= yield %>
  </div>
  <footer>
    <div class="container">
      <ul class="footer-links">
        <li><%= link_to 'About', '/about' %></li>
        <li class="text-muted">路</li>
        <li><%= link_to 'Contact', contact_path %></li>
        <li class="text-muted">路</li>
        <li><%= link_to 'Privacy Policy', '/privacy-policy' %></li>
        <li class="text-muted">路</li>
        <li><%= link_to 'Terms and Conditions', '/terms-and-conditions' %></li>
        <li class="text-muted">路</li>
        <li><%= link_to 'Source', 'https://github.com/seaneshbaugh/card_tracker' %></li>
      </ul>
      <p>Created with <%= link_to 'Ruby on Rails', 'http://rubyonrails.org/' %> by <%= link_to 'Sean Eshbaugh', 'http://seaneshbaugh.com/' %>. No copyright.</p>
      <p>Magic: the Gathering is a registered trademark of <%= link_to 'Wizards of the Coast LLC', 'http://company.wizards.com/' %>, a subsidiary of <%= link_to 'Hasbro, Inc.', 'http://www.hasbro.com/' %></p>
      <p>Magic: the Gathering and all Magic images are copyright &copy; Wizards of the Coast LLC. All Rights Reserved.</p>
      <p>The Caves of Koilos is in no way associated with Wizards of the Coast LLC or Hasbro, Inc.</p>
    </div>
  </footer>
  <% if Rails.env.production? && !(current_user && !current_user.read_only?) %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-38365306-1', 'cavesofkoilos.com');
      ga('send', 'pageview');
    </script>
  <% end %>
</body>
</html>
