<% content_for :body_class, 'confirm-delete-account' %>
<div class="page-header">
  <h1><%= t('accounts.delete.title') %></h1>
</div>
<div id="confirm-delete-account" class="page row">
  <div class="page-body col-xs-12">
    <%= form_tag account_path, :method => :delete, :id => 'confirm_delete_account', :class => 'form-horizontal' do %>
      <h2><%= t('accounts.delete.danger') %></h2>
      <p><%= t('accounts.delete.warning_message').html_safe %></p>
      <p><%= t('accounts.delete.instructions', :username => current_user.username).html_safe %></p>
      <%= hidden_field_tag :username, current_user.username, :id => 'username' %>
      <div class="form-group string required">
        <label class="string required col-lg-2 control-label" for="enter_username"><%= t('accounts.delete.enter_username') %></label>
        <div class="col-lg-8">
          <%= text_field_tag :enter_username, nil, :id => 'enter_username', :class => 'string required form-control', :size => 50, :maxlenth => 32 %>
        </div>
      </div>
      <div class="form-group string required">
        <label class="string required col-lg-2 control-label" for="enter_username_confirmation"><%= t('accounts.delete.enter_username_confirmation') %></label>
        <div class="col-lg-8">
          <%= text_field_tag :enter_username_confirmation, nil, :id => 'enter_username_confirmation', :class => 'string required form-control', :size => 50, :maxlenth => 32 %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <%= link_to t('cancel'), edit_account_path, :class => 'btn btn-default' %>
          <%= submit_tag t('accounts.links.confirm_delete'), :class => 'btn btn-danger', :disabled => true %>
        </div>
      </div>
    <% end %>
  </div>
</div>
