<% content_for :body_class, 'edit-account' %>
<div class="page-header">
  <h1><%= t('accounts.edit.title') %></h1>
</div>
<div id="edit-account" class="page row">
  <div class="page-body col-xs-12">
    <%= simple_form_for(@account, :as => :account, :url => account_path, :html => { :autocomplete => 'off', :class => 'form-horizontal' }) do |f| %>
      <%= f.input :username %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.input :email %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :receive_newsletters, :wrapper => :bootstrap3_horizontal_checkbox %>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <%= link_to t('cancel'), account_path, :class => 'btn btn-default' %>
          <%= f.button :submit, t('accounts.update.title'), :class => 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
    <div id="delete-account">
      <p class="lead text-center"><strong>Warning! This button will take you to a page which will ask you to confirm the deletion of your account! Proceed with caution!</strong></p>
      <%= link_to t('accounts.delete.title'), confirm_delete_account_path, :class => 'btn btn-danger' %>
    </div>
  </div>
</div>

